@media(max-width:1500px){
    nav-seath{
        display: flex;
    align-items: center;
    margin-left: auto;
    }
    .about_block{
        display: flex;
        flex-wrap: wrap;
    }
    .container {
        padding: 0 50px;
    }
    .logo{
        display: block;
        max-width: 100%;
        height: 70px;
    }
    .about__img{
        display: flex;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 38px;
    }
    .about__cards__block{
    margin-bottom: 17px;
    margin-left: 8px;


    }
    .about__cards__block__in{
        margin-left: 8px;
    }
    .hero_block{
            position: relative;
    }
    .hero_header{
        max-width: 100%;
        margin-bottom: 14px;
        font-size: 60px;
        font-weight: 800;
        line-height: 73px;
        letter-spacing: 0em;
        text-align: left;
    }
    .hero_btn{
    margin-right: 20px;
    padding: 19px 44px;
    margin-bottom: 10px;
    }
    

    .hero_conteiner{
        background: url(/img/low-angle-photo-of-balconies-2462015\ 1.png) center center no-repeat;
        background-size: cover;
        padding: 0px 80px;
        width: 95%;
    }
    .header_conteiner{
        padding-top: 2px;
        min-height: 97px;
}
.footer__text{
    display: none;
    }
}
@media(max-width:1284px){
    .about_block{
        flex-direction: column;
    }
    .about__image{
        background: url(/img/1024/Rectangle\ 2.png);
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 640px;
        margin-bottom: 32px;
        margin-right: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .about__column:not(:last-child) {
        min-height: 622px;
        margin: 9px -52px 58px -25px;
    }
    .card__body{
        margin: 0px -54px 2px -25px;
    }
    
}
@media(max-width:1036px){
    .how_slide_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 50px;
        width: 378px;
        margin-left: 8px;
    }
}
@media(max-width:1026px){
    .hero_btn {
    margin-right: 20px;
    margin-bottom: 10px;
    }
}
@media(max-width:1028px){
    .hero_btn {
        margin-right: 20px;
        padding: 12px 14px;
        margin-bottom: 10px;
    }
    .how_slide_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 50px;
        width: 415px;
        margin-left: 8px;
    }
}

@media(max-width:1024px){
    .logo{
        height: 48px;
        margin-left: 178px;
        margin-top: 5px;
}
.nav_list{
    width: 420px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        background-color: white;
        padding: 50px;
        transition: left .3s ease-in-out;
}
.nav_list{
    flex-direction: column;
    align-items: flex-start;
}
.nav_item{
    margin:0;
}
.nav_item:not(:last-child){
margin-bottom: 60px;
}
.menu-close{
    position: relative;
    display: block;
    width: 23px;
    height: 23px;
    margin-bottom: 100px;
}
.menu-close::before,
.menu-close::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    margin-left: -10px;
}
.menu-close::before{
    transform: rotate(45deg);
}
.menu-close::after{
    transform: rotate(-45deg);
}
.nav_item.burger-active{
    left: 0;
    transition: left .3s ease-in-out;
}


.seatch{
    height: 9px;
    margin-right: -86px;
    margin-top: -2px;
}

.burger{
    width: 30px;
    position: relative;
    height: 23px;
    margin-left: -46px;
    margin-top: 13px;
}
.burger_line{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: black;
}
.burger_line:first-child{
top: 0;
left: 0;
}
.burger_line:nth-child(2){
    top: 45%;
    left: 0;
}
.burger_line:last-child{
    bottom: 0;
    left: 0;
}


.hero_conteiner{
    margin-top: 22px;
    margin-left: 37px;
    padding: 137px 80px;
    height: 668px;
    max-width: 91%;
}
.hero_header {
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    margin-top: 24px;
    margin-left: -3px;
}
.hero_text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 59px;
    margin-left: -3px;
    margin-top: 19px;
}
.hero_btn{
    margin-left: -4px;
    margin-top: -3px;
}
.about__header{
    margin-left: -34px;
    margin-top: -20px;
    margin-bottom: 33px;
}
.about__text{
    margin-top: -34px;
    margin-left: -27px;
    margin-right: -18px;
}
.about__img{
    background: linear-gradient(185deg, rgba(255, 255, 255, 0) 0%, rgb(0 0 0 / 31%) 100%), url(/img/1024/Rectangle\ 2.png) 0 0/cover no-repeat;
    height: 640px;
    margin: 11px 14px 32px -26px;
}
.about_block {
    display: flex;
    flex-wrap: wrap;
    margin-right: 26px;
}

.about__img_shadow_button{
    min-width: 177px;
    min-height: 58px;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    margin-right: 7px;
    padding-left: 34px;

}
.about__img_shadow {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 43px;
    display: flex;
    align-items: center;
    height: 194px;
    justify-content: space-between;
}

.about__cards__block{
    height: 296px;
    padding: 79px 0px 0px 49px;
    margin: 0px -54px 31px -26px;
}

.about__cards__block__in{
    height: 296px;
}
.about__cards__img__shardow{
    padding-left: 206px;
    margin-top: 5px;
    margin-left: 17px;
}

.how_header{
    margin-top: 95px;
    margin-bottom: 40px;
    margin-left: -35px;
}
.tabs{
    margin-left: -25px;
}
.how_slide_header {
    margin-top: 4px;
    margin-left: -25px;
}
.how_slide_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-left: -24px;
    margin-top: 14px;
    max-width: 437px;
}
.how_btn_1{
    margin-left: -24px;
    margin-top: -23px;
    height: 59px;
    margin-right: 33px;
    font-size: 16px;
    padding: 4px 37px;
    line-height: 47px;
    margin-bottom: 6px;
}
.how_btn_2{
    margin-left: 0;
    margin-top: -25px;
    height: 59px;
}
.description-about__text {
    max-width: 460px;
    font-weight: bold;
    font-size: 16px;
    line-height: 200%;
    color: #ffffff;
}
.description-about__button {
    display: flex;
    align-items: center;
    margin: 21px 2px 15px 1px;
    background-color: transparent;
}
.how-slide__picture {
    background: url(/img/1024/Rectangle\ 18.png);
    margin-left: -53px;
    margin-top: 16px;
    height: 687px;
    margin-right: -26px;
}
.question_title{
    margin-left: -34px;
    margin-top: -22px
}
.accordion_link{
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-left: 14px;
}
.accordion{
    margin-left: 10px;
    margin-top: -45px;
}
.footer__logo{
    margin-bottom: 15px;
    margin-top: -2px;
    margin-left: -9px;
}
.footer__nav__li{
    margin-left: 15px;
}
.footer__nav{
    margin-left: -24px;
}
.form{
    margin-left: 99px;
    margin-top: 3px;
}
.checkbox-text {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    display: inline-block;
    padding-left: 20px;

}
.social {
    margin-bottom: 38px;
    margin-top: 23px;
    margin-left: -6px;

}
.send_btn{
    margin-right: 20px;
    padding: 9px 5px;
    margin-bottom: 10px;
}
.form__header {
    font-size: 48px;
    font-weight: 400;
    color: #cacaca;
    margin-bottom: 25px;
    align-items: stretch;
    margin-top: 17px;
}
.field {
    display: flex;
    width: 112%;
    color: #fff;
    background: #414141;
    border: none;
    outline: none;
    padding: 14px 24px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 32px;
}
.footer__label {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    display: inline-block;
    color: #ffffff;
}
}

